@import "iconfont.css";
.modal input[type="text"],.form-group input[type="password"]
{
    width: 81.2%;
    padding: 1.1em 1em 1.1em 4em;
    color: #858282;
    font-size: 16px;
    outline: none;
    background: #fff;
    font-weight: 500;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    margin:0.7em 0;
    background: url("../img/user.png") no-repeat 14px 0px;
    background-size: 40px;
}
.form-group input[type="password"]
{
    background: url("../img/mima.png") no-repeat 14px 0px;
    background-size: 40px;
}