<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>通讯录管理系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
</head>

<body>
<!-- 头部 -->
<div class="head">
    <div class="headL">
        <img class="headLogo" src="../static/images/logo.jpeg" width="60px" height="60px"/>
    </div>
    <div class="headR">
        <span style="position:absolute;right: 100px; color:blue">欢迎使用通讯录！</span> <a href="head2.html" rel="external" style="position:absolute;right: 1px; color: chocolate">【退出登录】</a>
    </div>
</div>
</body>
</html>