<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>头部-有点</title>
    <link rel="stylesheet" type="text/css" href="css1/public.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
</head>

<body>
<!-- 头部 -->
<div class="head">
    <div class="headL">
        <img class="headLogo" src="../static/images/logo.jpeg" width="60px" height="60px"/>
    </div>
    <div class="headR">
        <span style="color:#FFF"><a href="login.html" target="_blank">【登录】</a></span>
    </div>
</div>
</body>
</html>