<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=gb2312" />
    <title>欢迎来到微博简易版</title>
    <meta name="keywords" content="weibo,jiaoyou" />
    <meta name="description" content="微博简易版" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type=""></script>
    <link rel="text/javascript" href="../static/js/main.js">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/mainTable.css">
    <link href="../static/css/head.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/loginTable.css" rel="stylesheet" type="text/css" />
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">


</head>

<body>
<!--注册框开始-->
<div class="modal" id="login_model">
    <div class="modal-dialog">
        <!--            登录框内容-->
        <div class="modal-content">
            <div class="modal-header">
                <!--标题-->
                <h4 class="modal-title">请输入用户名和密码</h4>

                <!--取消按钮-->
                <button class="modal-login_cancer" data-dismiss="modal">
                    <!--iconfont待修改-->
                    <em class="iconfont">&#xe621;</em>
                </button>

            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form action="#" id="form" class="form-horizontal"  th:object="${user}">


                    <div class="form-body">
                        <div class="form-group">
                            <label for="userName"></label><input id="userName" name="userName" placeholder="手机号" class="form-control" type="text" th:field="*{userName}" pattern="(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}" oninput=check(this) required >

                            <label for="passWord"></label><input id="passWord" name="passWord" placeholder="请输入密码" class="form-control" type="password" th:field="*{passWord}" pattern="[a-zA-Z]\w{5,17}" oninput=check(this) required >
                            <label for="passWordAgain"></label><input id="passWordAgain" name="passWordAgain" placeholder="请再次输入密码" class="form-control" type="password" th:field="*{passWordAgain}" pattern="[a-zA-Z]\w{5,17}" oninput=check(this) required >
                        </div>
                    </div>

                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" id="loginCertain_btn" class="btn login_btn">确认</button>
            </div>



        </div>
    </div>
</div>
<!--注册框结束-->

<div id="headTop">
    <!--头右部导航框开始-->
    <div id="menu">

        <ul>
            <li class="first">
                <a href="#" accesskey="1" title="" id="loginBtn" class="loginBtn" >

                    <!--iconfont待修改-->
                    <em class="iconfont">&#xe621;</em>
                    <em class="iconfont-word">登陆</em>
                </a>
            </li>
            <li class="second">
                <a href="#" accesskey="1" title="" id="logupBtn" class="logupBtn">

                    <!--iconfont待修改-->
                    <em class="iconfont">&#xe621;</em>
                    <em class="iconfont-word">注册</em>
                </a>
            </li>

        </ul>
    </div>
    <!-- 头右部导航框开始 -->
</div>


<div id="sendWeibo">
    <div class="inputHeader">
        <h1 id="inputHeader">有什么新鲜事想告诉大家</h1>
    </div>

    <!--    输入框及其响应框-->
    <div class="input" node-type="textElDiv">
        <textarea class="weiboInput" title="微博输入框" style="overflow: hidden" cols="1" rows="1"></textarea>
        <div id = "afterInput">
            <button class="funToSubmit">提交</button>
        </div>
    </div>

</div>


<!-- end #header -->
<div id="content">

    <div id="chooseOdertype">
        <ul>
<!--            href="/main?method=commentNum-->
            <li><a class="orderMethod" id = "commentNum" href="###" onclick = Order(this)>评论</a></li>
            <li><a class="orderMethod" id = "aggreeNum" href="###" onclick = Order(this)>点赞</a></li>
            <li><a class="orderMethod" id = "createDate" href="###" onclick = Order(this)>发布时间</a></li>
        </ul>

    </div>
    <div id = postTotal>
        <div id="posts" th:each="i,iStat:${msgList}" >
            <div class="post" >
                <!--            发布人的姓名-->
                <h2 class="publisher" th:text = ${i["fromId"]}>Unknown</h2>
                <div class="story">
                    <!--                发布者发布的内容-->
                    <p class="publishCon" th:text = ${i["content"]}>发布信息</p>
                </div>
                <div class="meta">
                    <p class="date">
                        <span class="hide">Posted on </span>
                        <span class="posted" th:text = ${i["createDate"]}>发布时间</span>
                        <span class="hide"> by Admin</span>
                    </p>

                    <p class="file">
                        <span class="hide">Filed under </span>
                        <a href="###" class="comments" th:text = ${i["commentNum"]} th:id="${iStat.count}" onclick="comment(this)">Comments</a>
                        <span class="hide"> | </span>
                        <a href="#" class="permalink" th:text = ${i["aggreeNum"]}>Agreets</a>
                    </p>
                </div>
            </div>
            <div class="comments" style="display: none">
                <textarea class="weiboInput" title="评论输入框" style="overflow: hidden" cols="1" rows="1"></textarea>
                <div >
                    <button class="funToSubmit">提交</button>
                </div>
<!--                已经存在的评论-->
                <div class="exitcomments" th:each="item,itemStat:${commentList}">
                    <span th:text= ${i["name"]} >发布者信息</span>
                    <span th:text= ${i["comment"]>评论内容</span>
                </div>
            </div>
        </div>
    </div>

    <!-- end #posts -->
    <div id="links">
        <ul>
            <li>
                <h2>Archives</h2>
                <ul>
                    <li><a href="#">February 2014</a> <i>(22)</i></li>
                    <li><a href="#">January 2014</a> <i>(31)</i></li>
                    <li><a href="#">December 2014</a> <i>(31)</i></li>
                    <li><a href="#">November 2014</a> <i>(30)</i></li>
                    <li><a href="#">October 2014</a> <i>(31)</i></li>
                </ul>
            </li>
            <li>
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Donec Dictum Metus</a></li>
                    <li><a href="#">Etiam Rhoncus Volutpat</a></li>
                    <li><a href="#">Integer Gravida Nibh</a></li>
                    <li><a href="#">Maecenas Luctus Lectus</a></li>
                    <li><a href="#">Mauris Vulputate Dolor Nibh</a></li>
                    <li><a href="#">Nulla Luctus Eleifend</a></li>
                    <li><a href="#">Posuere Augue Sit Nisl</a></li>
                </ul>
            </li>
            <li>
                <h2>Blog Roll</h2>
                <ul>
                    <li><a href="#">Donec Dictum Metus</a></li>
                    <li><a href="#">Etiam Rhoncus Volutpat</a></li>
                    <li><a href="#">Integer Gravida Nibh</a></li>
                    <li><a href="#">Maecenas Luctus Lectus</a></li>
                    <li><a href="#">Mauris Vulputate Dolor Nibh</a></li>
                    <li><a href="#">Nulla Luctus Eleifend</a></li>
                    <li><a href="#">Posuere Augue Sit Nisl</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #links -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->
<div id="footer">
    <div th:text = "共+${tsum}+条微博，共为+${tpage}+页，当前为+${cPage}+页"></div>
    <a href="/main?cp=1">首页</a>
    <a href="#" th:if="${cPage != 1}" th:href="@{'/main?cp='+${cPage - 1}}">上一页</a>
    <a href="#" th:if="${cPage != tpage}" th:href="@{'/main?cp='+${cPage + 1}}">下一页</a>
    <a href="#" th:if="${cPage != tpage}" th:href="@{'/main?cp='+${tpage}}">尾页</a>
</div>
<!-- end #footer -->


</body>


<script type="text/javascript" src="../static/js/main.js"></script>

<script type="text/javascript" src="../static/js/submitWeibo.js"></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
